/*h1{
    background-color: lightblue;
    color: white;
    font-size: 150px;
}
h2{
    background-color: lightgreen;
    color: white;
    font-size: 150px;
}
h3{
    background-color: lightpink;
    color: white;
    font-size: 150px;
}
.box{
    background-color: lightgray;
    color: black;
    font-size: 10px;
    width: 110px;
    height: 20px;
    border: 2px solid black;
    border-radius: 5px;
}*/
/*#container{
    background-color: lightgray;
    color: black;
    font-size: 10px;
    width: 110px;
    height: 20px;
    border: 2px solid black;
    border-radius: 5px;
}
#child{
    background-color: lightgray;
    color: black;
    font-size: 10px;
    width: 110px;
    height: 20px;
    border: 2px solid black;
    border-radius: 5px;
}*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 10px;
    height: 100px;
    background-color: lightgray;
    border: 20px solid black;
    padding: 215px;
    box-shadow: 0px 0px 0px green;
}
.box2{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 20px solid black;
    padding: 15px;
    box-sizing: border-box;
}